/*
 * This file is part of ROOSSTER.
 * Copyright 2004, Benjamin Reitzammer <benjamin@roosster.org>
 * All rights reserved.
 *
 * ROOSSTER is free software; you can redistribute it and/or modify
 * it under the terms of the Artistic License. 
 * See http://www.opensource.org/licenses/artistic-license.php for details
 */
## velocity helper definitions
#set ($linkColor        = '#33a1ff')
#set ($linkHoverBgColor = '#fffac7')
#set ($headerColor      = '#33a1ff')
#set ($tagDatesColor    = '#008aff')
#set ($inputFocusColor  = '#EFEFEF')
#set ($errorColor       = '#EF0E0E')
#set ($infoColor        = '#FAD163')
#set ($loadingColor     = '#00FF0B')
#set ($editLinkColor    = '#9FFFAC')
#set ($deleteLinkColor  = '#ff2727')
#set ($textColor        = 'black')
#set ($bgColor          = 'white')
#set ($headerFontColor  = 'white')
 
/*
 * Search Tab
 */ 
#entry-list     {  margin: 0px,10px,10px,20px; list-style-type:none;}
.entry          { list-style-type:none; }
.entrylist-entry-url   { font-weight:bold; margin:5px 5px 5px -30px; }
.entrylist-entry-url a { display:block; padding:5px;  }

.entry-content  {} 
.entry-dates    { color:$tagDatesColor; font-size:x-small; margin: 3px 3px 3px -30px;}

.entry-tags                   { margin:0px 0px 0px -30px; border-bottom:1px solid black; }
.entry-tags-table             { color:$tagDatesColor; width:100%; font-size:x-small; }

.entrylist-editlink           { width:150px; vertical-align:top; text-align:center; }
.entrylist-editlink a         { font-size:small; display:block; padding:2px;}
.entrylist-editlink a:hover   { background-color:$editLinkColor; font-weight:bold;}

.entrylist-deletelink         { width:150px; vertical-align:top; text-align:center; }
.entrylist-deletelink a       { font-size:small; display:block; padding:2px; }
.entrylist-deletelink a:hover { background-color:$deleteLinkColor; color:white; font-weight:bold;}

#entrylist-pager {clear:both;}

.inactive-link { color:$textColor; }
.inactive-link:hover { text-decoration:none; background-color:$bgColor;}

.tdalignleft { text-align:left; }
.tdalignright { text-align:right;}

/*
 * Edit Tab
 */
 
#entry-form     {}
textarea { height:100px; }

.entry-detail  { width:700px; padding:5px;}
.entry-detail td { padding-bottom:5px;}

.action-links { text-align:center; font-size:small; }
.action-links a { float:left; display:block; width:175px; padding:2px;  }

.detail-delete-link:hover { background-color:$deleteLinkColor; color:white; font-weight:bold; }

#indexedcontent { display:none; overflow:auto; border:1px solid $tagDatesColor; width:500px; height:130px;}


/*
 * Add Tab
 */
#advanced-add { padding:20px 0px 0px 30px; font-size:small; width:400px;}
#advanced-add td { font-size:small; vertical-align:top; padding-bottom:10px;}
#advanced-add td input { vertical-align:bottom;}
#advanced-add fieldset legend { font-weight:bold; }


/*
 * General Elements 
 */
a       { color:$linkColor; text-decoration:none; }
a:hover { background-color:$linkHoverBgColor; }
dfn     { border-bottom:dotted 1px black; font-style:normal;}
body    { margin:0px;padding:0px; font:Arial 1em normal; }

#content {padding:10px;}

input[type=submit]            { background: url($baseurl/images/button_bg.png) top left repeat-x; }
input[type=text]              { width:250px; }
input[readonly=readonly]      { border-width:0px; }
textarea                      { width:350px; }
input:focus, textarea:focus   { background-color:$inputFocusColor; }
input,textarea                { margin: 0px 5px 5px 5px; padding:2px;  border:1px solid black; }

.entry-image { float:left; margin:7px; } 
 
.tab      { display: none; }
#tabarea  { padding:10px; }

#output-messages {
    font-size:small;
    font-weight:900;
    width:700px; /* same as in .tab */
    text-align:center;
    margin:auto;
}
#output-messages li { list-style-type: none; }

.error   { background-color:$errorColor; color:$bgColor; padding:5px; }
.info  {  background-color:$infoColor;  padding:5px; }


/* 
 * page header
 *
 */
#roosster { 
    background: $headerColor url($baseurl/images/header_bg.png) top left repeat-x;
    padding:1px 10px 10px 0px; 
    margin: 0px 0px 10px 0px;
    height:45px;
}
.roossterheading  { 
    font-family: Garamond, 'Copperplate Gothic Light', Georgia, 'Times New Roman', Serif;
    font-size:16px; 
    font-weight:900; 
    margin:10px 0px 0px 20px; 
    padding:10px 0px 0px 0px;
    color:$headerFontColor;
}

#tablist li {
    list-style-type: none;
    float: left;
    text-align: center;
    padding-top:5px; 
    margin-top:-5px;
}
#tablist li a { 
    color:$bgColor; 
    width:80px; 
    height:30px; 
    font-weight:600; 
    display:block; 
    padding-top:5px; 
    margin:-5px 0px -5px 0px;
}
#tablist li a:hover { background-color:$bgColor; color:$linkColor; font-weight:900;}

#tablist li[class=active] { background-color:$bgColor; }
#tablist li[class=active] a {color:$headerColor;}
#tablist li[class=active] a:hover {color:$headerColor;}

#headernote { font-size:x-small; float:right; text-align:right; margin:5px;}
#headernote a { color:$textColor; text-decoration:underline;  }
#headernote input { padding:2px; margin:0px;  border:none;}
#headernote form { padding:0px; margin-top:5px;  }

/*
 * Loading notification 
 */

#loading-notification {
    display:none;
    background-color:$loadingColor;
    font-weight:bold;
    color:$bgColor;
    position:absolute;
    float:right;
    padding:5px;
    top:60px;
    right:10px;
}

/* 
 * cached pages 
 *
 */
#cachenotice { padding:5px;background-color:$headerColor; color:$bgColor; font-weight:800; font-size:x-small;}
#cachenotice a{ color:black; text-decoration:none;}
#cachenotice a:hover { text-decoration:underline; color:black; }
#cachenotice p {font-size:larger;border:1px solid $bgColor;margin:2px 10px 2px 10px;padding:2px 10px 2px 10px; }

