#foot           { font-size:x-small; margin-top:20px;}

#entry-list     {margin: 20px,10px,10px,20px; list-style-type:none;}
.entry          {margin: 10px,0px,10px,-30px;   list-style-type:none; padding-left:-50px;}
.entry-url      { font-weight:bold; }
.entry-content  {}
.entry-info     { color:#acc9ff; font-size:small; }

#entry-form     {}
#entry-form textarea     { height:100px; }

input[type=text]              { width:250px; }
textarea                      { width:350px; }
input:focus, textarea:focus   { background-color:#EFEFEF; }
input,textarea                {  margin: 0px 5px 5px 5px;  border:1px solid black; }

.tab            { display: none; }

.tab, #tablist  { width: 700px; margin:auto;}

#tabarea        { overflow:auto; height:450px; padding:10px;  }

#output-messages {}

#tablist        { margin: 0 auto; padding: 0 0 2em 0; }

#tablist li {
    list-style-type: none;
    float: left;
    width: 24%;
    border: 1px solid Black;
    border-bottom: 2px solid Black;
    padding: 0;
    margin: 0 2px 0 0;
    text-align: center;
}


a               { color:#5F86FF; text-decoration:none; }
a:hover         {}


