<html>
    <head>
        <title>roosster - List of Entries</title>
        <style type="text/css">
            <!--
            {v:css_string}
            //-->
        </style>
    </head>
    <body>
    Number of Entries: <b>{v:num}</b>
    <ul id="entry-list">
        <t:entries>
            <li>
                <ul class="entry">
                    <li class="entry-url"><a href="{v:url}">{v:title}</a></li> 
                    <li class="entry-content">{v:content} <strong>[...]</strong></li> 
                    <li class="entry-info">{v:issued}</li>
                </ul>
            </li>
        </t:entries>
    </ul>
    </body>
</html>
