<html>
    <head>
        #parse("head.html")
    </head>
    <body>
    Number of Entries: <b>$num</b>
    <ul id="entry-list">
        #foreach($entry in $entries)
            <li>
                <ul class="entry">
                    <li class="entry-url"><a href="$entry.url">$entry.title</a></li> 
                    <li class="entry-content">#truncate($entry.content)<strong>[...]</strong></li> 
                    <li class="entry-info">$entry.issued</li>
                </ul>
            </li>
        #end
    </ul>
    </body>
</html>
