/*
 * General Elements 
 */
body    { margin:0px;padding:10px; font:Arial 1em normal; background-color:white;}
a       { color:#33a1ff; text-decoration:none; }
a:hover { background-color:#fffac7; }
dfn     { border-bottom:dotted 1px black; font-style:normal;}
a img   { border-width:0px; }

#header h1 { font-size:1.6em; }
#content { padding:10px; }
#output-messages { width:600px; }

#advanced-add fieldset { width:500px;  }
#advanced-add * { font-size:x-small; }

input[type=submit]            { background: url(/button_bg.png) top left repeat-x; }
input[type=text]              { width:250px; }
input[readonly=readonly]      { border-width:0px; }
textarea                      { width:350px; }
input:focus, textarea:focus   { background-color:$inputFocusColor; }
input,textarea                { margin: 0px 5px 5px 5px; padding:2px;  border:1px solid black; }

.success { color:#00ff3a; font-weight:bold; font-size:small; }
.error { color:#ff3737; font-weight:bold; font-size:small; }

.entry                 { list-style-type:none; }
.entrylist-entry-url   { font-weight:bold; margin:5px 5px 5px -30px; }
.entrylist-entry-url a { display:block; padding:5px;  }

.entry-image { float:left; margin:7px; } 

#entry-list            {  margin: 0px,10px,10px,20px; list-style-type:none;}

.entry-content  {} 
.entry-dates    { color:#008aff; font-size:x-small; margin: 3px 3px 3px -30px;}

.entry-tags                   { margin:0px 0px 0px -30px; border-bottom:1px solid black; }
.entry-tags-table             { color:#008aff; width:100%; font-size:x-small; }
