#set( $entry = $entries.get(0) )

<div style="border:1px solid black; background-color:#fffaab;margin-bottom:30px;">
  This page was last retrieved from <strong>$entry.url</strong> at <em>$entry.lastFetched</em>.<br/>
  The contents of this page were were stored with <a href="#url('')">roosster - personal search</a><br/>
  Please note that portions of this page may not look as intended by the respective author.
  <br/><br/>
  Click <a href="#url('entry')?url=$entry.url">here</a> to go back to the Entries detail page.
</div>

$entry.content
