#set( $entry = $entries.get(0) )

<h3>Details for Entry: <strong>$entry.url</strong></h3>

<form action="putentry" method="post">
  <input type="hidden" name="url" value="$entry.url" />
  <input type="hidden" name="url" value="$entry.url" />
  <table class="entry">
    <tr>
      <td>Title</td>
      <td><input type="text" value="$entry.title" name="title" /></td>
    </tr>
    <tr>
      <td>Tags (comma-separated)</td>
      <td><input type="text" value="#join($entry.tags)" name="tags" /></td>
    </tr>
    <tr>
      <td valign="top">Note</td>
      <td><textarea name="note" rows="4" cols="40">$!entry.note</textarea></td>
    </tr>
    <tr>
      <td>Issued</td>
      <td>$entry.issued</td>
    </tr>
    <tr>
      <td>Last Fetched</td>
      <td>$entry.lastFetched</td>
    </tr>
    <tr>
      <td>Last Modified</td>
      <td>$entry.lastModified</td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit" /></td>
    </tr>
  </table>
</form>
<p><a href="#url('entry')?output.html.screen_tmpl=cachedentry.html&url=$entry.url">cached content of entry</a></p>
<p><a href="#url('del')?url=$entry.url">delete entry!</a></p>




